body {
  max-width: 680px;
  width:680px;
}

#app {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  background-image: url("https://bold.newcastle.edu.au/home/img/DeathtoStock_Desk5.png");
  width: 100%;
  color: #eee;
}
div#content {
  width: 100%;
  padding: 0.6em;
}
div#heading {
  background-color: rgba(55,55,55, 0.7);
  margin: 1em;
}
#loading {
    background-image: url('ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
button {
    display: block;
    left: 640px;
    top: 12px;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 640px;
}
th,td {
  background-color: rgba(55,55,55, 0.7);
  margin: 0;
  padding: 0.25em;
}
table p, table em {
    margin: 0;
    padding: 0;
    display:block;
}
table em {
    padding-top: 1em;
}
a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

h5 > a {
  text-decoration: underline;
}

ul.nav {
    list-style: none;
}
ul.nav > li {
    margin: 0.25em;
    padding: 0.25em;
    border: thin solid #ccc;
    background-color: rgba(55,55,55, 0.7);
}
ul.nav > li:hover {
    cursor: pointer;
}

table.analytics th > p {
    font-size: 12pt;
}
table.analytics th > em {
    font-size: 9pt;
    text-decoration-style: wavy;
}

table.analytics tr:nth-child(1) th
{
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

table.analytics tr:last-child td {
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

table.analytics tr:last-child td:nth-child(1) {
   color: #64d8e5;
   font-size: 38pt;
}

table.analytics tr:last-child td:nth-child(2) {
   color: #dd7ccf;
   font-size: 38pt;
}

table.analytics tr:last-child td:nth-child(3) {
   color: #7fefb9;
   font-size: 38pt;
}

table.analytics tr:last-child td:nth-child(4) {
   color: #edb57d;
   font-size: 38pt;
}
li:nth-child(1n):hover {
  background-color: #64d8e5;
}
li:nth-child(2n):hover {
  background-color: #dd7ccf;
}
li:nth-child(3n):hover {
  background-color: #7fefb9;
}
li:nth-child(3n):hover {
  background-color: #edb57d;
}
table.analytics span {
  margin-top: 0;
  font-size: 14pt;
  display:block;
}
.message {
  color: purple;
  font-size: 12pt;
  font-family: helvetica, verdana, monospace;
  display: block;
  width: 5em;
  float: right;
  margin-right: 2em;
  margin-top: 0.4em;
}

label {
    margin: 0.3em;
    display:block;
    clear: both;
}
.error {
    border: 2px solid red;
}
.title {
    margin: 0;
}
.btn {
    display: block;
    position: relative;
    background-image: url("copy-32.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor:copy;
    float: left;
    margin-left: -250px;
}
.instructions {
    display: block;
    width: 16em;
    position: relative;
    float: left;
}
